@import "bootstrap";

body {

	background-color: #E9EAED;
	color:#25762;
	font-family: Bebas , Helvetica, sans-serif;
}

.navbar-default
{
	background-color:#34495E;
	color:#F2C500;
}

.thumbnail > img {
    display: block;
    height: 250px; /* add this */
    margin-left: auto;
    margin-right: auto;
    max-width: 100%;
}

.navbar-default .navbar-brand{
	font-family: Arial, Helvetica, sans-serif;
	font-weight: 400;
	color: #25762;
	font-size:30px;
}

.navbar .nav > li > a, .navbar .nav > li > a:first-letter {
font-width:bold;
color:          #FB6C6D;
font-weight: 400;
text-shadow:    none;
font-family: Bebas;
}

.center
{
	text-align:center;
}

.column-md-6{
	h3{font-size: 45px;}
	h5{font-size: 25px;}
	p{font-size: 15px;}
}

.caption{
	h3{font-size:17px;
		margin: 2px;}
	p{
	font-size: 15px;
	margin: 1px;
	}
}